* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
    background-color: #2a3124;
}

.count-btn,
.reset-btn {
    font-size: 3rem;
    padding: 0.5rem 1.5rem;
    border-radius: 9px;
    border: none;
    outline: 2px solid #255f38;
    cursor: pointer;
    color: #97bd80;
    background-color: #18230f;
}

.count-btn {
    position: relative;
    z-index: 0;
    transition: 450ms ease-in-out;
}

.count-btn::after {
    content: '';
    background-color: #97bd80;
    height: 100%;
    width: 0;
    border-radius: 9px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 450ms ease-in-out;
}

.count-btn:hover::after {
    width: 100%;
}

.count-btn:hover {
    color: #18230f;
}

.reset-btn:active {
    color: #18230f;
    background-color: #97bd80;
}

@media screen and (max-width: 576px) {
    .container {
        flex-direction: column;
    }

    .count-btn,
    .reset-btn {
        font-size: 2.5rem;
    }
}
